/* ---------------------------- Google Fonts ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #253974 ;
}

ul{
    list-style: none;
}

.container{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    height: 100vh;
    display: grid;
    place-items: center;
}

.dropdown{
    position: relative;
    width: max-content;
    transform: translateY(-5rem);
}

.dropdown-button,.dropdown-item{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.dropdown-button{
background-color: #F2F4FD;
border: none;
outline: none;
padding: 1.25rem;
border-radius: .75rem;
cursor: pointer;
}

.dropdown-icon,
.dropdown-icons{
    font-size: 1.25rem;
    color: #3A63DF;
}

.dropdown-name{
    font-weight: 500;
}

.dropdown-icons{
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
}

.dropdown-arrow,
.dropdown-close{
    position: absolute;
    transition: opacity .1s , transform .4s;
}

.dropdown-close{
    opacity: 0;
}

.drop-menu{
    background-color: #F2F4FD;
    padding: 1rem 1.25rem;
    border-radius: .75rem;
    display: grid;
    row-gap: 1.5rem;
    position: absolute;
    width: 100%;
    top: 4.5rem;
    left: 0;
    transform: scale(.1);
    transform-origin: 10rem -2rem;
    pointer-events: none;
    transition: opacity .4s , transform .4s;
    opacity: 0;
}

.dropdown-item{
    cursor: pointer;
    transition: color .3s;
}

.dropdown-item:hover{
    color: #3A63DF;
}

/* rotate and hide icons  */
.show-dropdown .dropdown-close{
    opacity: 1;
    transform: rotate(-180deg);
}
.show-dropdown .dropdown-arrow{
    opacity: 0;
    transform: rotate(-180deg);
}

.show-dropdown .drop-menu {
    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
} 
